.text-layer {
    pointer-events: none;
}

.text-layer-item {
    height: 1em;
    font-family: sans-serif;
    position: absolute;
    transform-origin: left bottom;
    white-space: pre;
    pointer-events: all;
}
