.article {
    padding: 7px;
    min-height: 100%;
    background-color: #f0f2f4;
    box-sizing: border-box;

    .document {
        overflow: hidden;
        max-width: 568px;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);

        & + .document {
            margin-top: 7px;
        }
    }
}
