/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.mainWrapper {
    padding: 1rem;
}

.headerWrapper {
    height: 100%;
    min-height: 180px;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 12px;
}

.headerCard {
    height: 60px;
    width: auto;
    object-fit: cover;
}

.headerText {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
